.history
data_collection/raw_data/**
.venv/

./.github/**
./copilot-instructions.md
data_collection/**
data_collection/processed_data/*.json

data_collection/processed_data/cve_data_parsed.json
analysis/classification_data.csv
data/*
data_processing/data/twx_vulnerabilities.*
analysis/shortened_data.csv
analysis/*.png
analysis/*.csv
analysis/vuln_type_distribution.png
analysis/__pycache__/**
data_processing/__pycache__/**
Summary.md
**/**/**/*.json
data_collection/raw_data/*.json
data_collection/raw_data/*.csv
data_collection/raw_data/*.txt
**/__pycache__/**
storage/__pycache__/vulnerability_db.cpython-312.__pycache__
storage/__pycache__/*
storage/__pycache__/vulnerability_db.cpython-312.pyc
**/__pycache__/**